:root {
    --text-color: #212121;
    --background-btn: #f5f4fa;
    --btncolor-hover: #2196f3;
    --btntext-hover: #ffffff;
    --font-size: 14px;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--text-color);
    font-size: var(--font-size);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.logo-second {

    color: #000000;
}

.nav-link {
    font-weight: 500;
    font-size: var(--font-size)
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.nav-link:focus,
.nav-link:hover {

    color: var(--btncolor-hover);
}

.nav-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
}

.link-contact {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.link-contact:hover,
.link-contact:focus,
.nav-contact:hover,
.nav-contact:focus {

    font-weight: 500;
    font-size: var(--font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--btncolor-hover);
}

.hero-title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

.hero {
    background-color: #2f303a;
}

.hero-btn {
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
    background: #188ce8;
}

.benefits-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
}

.benefits-text {
    font-family: 'Roboto';
    font-size: var(--font-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.team {
    background: #f5f4fa;
}

.team-img {
    background: #ffffff;
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

footer {
    background: #2f303a;
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.adress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer-text {
    font-family: 'Roboto';
    font-size: var(--font-size);
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-text:hover,
.footer-text:focus {
    color: var(--btncolor-hover);
}

.btn-vse {
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
    background: var(--background-btn);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.btn-vse:hover,
.btn-vse:focus {

    color: #ffffff;
    background-color: var(--btncolor-hover);
}

.btn-website {
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
    background: var(--background-btn);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.btn-website:hover,
.btn-website:focus {
 
    color: #ffffff;
    background-color: var(--btncolor-hover);
}

.btn-app {
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
    background: var(--background-btn);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.btn-app:hover,
.btn-app:focus {

    color: #ffffff;
    background-color: var(--btncolor-hover);
}

.btn-design {
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
    background: var(--background-btn);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.btn-design:hover,
.btn-design:focus {

    color: #ffffff;
    background-color: var(--btncolor-hover);
}

.btn-marketing {
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;
    background: var(--background-btn);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.btn-marketing:hover,
.btn-marketing:focus {

    color: #ffffff;
    background-color: var(--btncolor-hover);
}

button {
    border: none;
    cursor: pointer;
}

.item-portfolio {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
    background: #ffffff;
    border: 1px solid #eeeeee;
}

.title-portfolio {
    width: 322px;
    height: 36px;
    left: 239px;
    top: 576px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);
}

.text-portfolio {
    width: 322px;
    height: 30px;
    left: 239px;
    top: 616px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.current {
    color: #ffffff;
    background-color: var(--btncolor-hover);
}

.current-text {
    color: var(--btncolor-hover);
}